@page "/"
@using PieChartBlazor.Data;
@inject IJSRuntime jsRunTime;

<h1>Blazor Pie Chart</h1>

<div id="chartdiv"></div>

<button class="btn btn-primary" @onclick="GeneratePieChartBlazor">Generate Pie Chart</button>

@code{
    CountryInfo countryInfo = new CountryInfo();
    List<CountryInfo> countryInfos = new List<CountryInfo>();

    private async Task GeneratePieChartBlazor()
    {
        countryInfos = countryInfo.GetCountryInfos();    //variable has "s"
        await jsRunTime.InvokeVoidAsync("GeneratePieChart", countryInfos);
    }

}
