@page "/"
@using PieChartBlazor.Data;
@inject IJSRuntime jsRunTime;

<h1>Blazor Pie Chart</h1>

<div id="chartdiv"></div>

<button class="btn btn-primary" @onclick="GeneratePieChartBlazor">Generate Pie Chart</button>

@code{
    DataChart dataChart = new DataChart();
    List<DataChart> dataCharts = new List<DataChart>();

    private async Task GeneratePieChartBlazor()
    {
        dataCharts = dataChart.GetDataCharts();    //variable has "s"
        await jsRunTime.InvokeVoidAsync("GeneratePieChart", dataCharts);
    }

}
